@font-face {
	font-family: 'Rexlia';
	src: url('/assets/rexlia.otf');
}

@font-face {
	font-family: 'UAF Sans';
	src: url('/assets/uaf.woff2');
}


:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	font-family: 'UAF Sans';
	line-height: 1.5;
	font-weight: 400;

	color: #fff;
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.font-uaf {
	font-family: 'UAF Sans';
}

.font-rexlia {
	font-family: 'Rexlia';
}
